.nav, .pagination, .carousel, .panel-title a { 
	cursor: pointer; 
}

body {
	padding-top: 60px;
	padding-bottom: 40px;
}

.navbar {
	background-color: #ffffff;
	opacity: 0.9;
}

.navbar-brand {
	font-size: 18pt;
}

.well >  .nav > li {
	font-size: 14pt;
}

#codeTextArea {
	  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
	  font-size: 13px;
}

.social-icon {
	width:40px;
	margin: 3px;
}
