*.log
*.sdf
*.orig
*.userprefs
*.nupkg
.DS_Store
thumbs.db
npm-debug.log
packages/
Scratch/
Website/debug/
**/bin/Debug/**
**/bin/Release/**
**/obj/Debug/**
**/obj/Release/**
Website/node_modules/**
Website/bower_components/**
Website/build/**
