<?xml version="1.0" encoding="UTF-8" ?>
<VersionConfig>
    <FileType>
        <Name>Version-in-a-text-file</Name>
        <FileSpec>*.version.txt</FileSpec>
        <Write>${Major}.${Minor}.${Build}.${Revision}</Write>
    </FileType>
    <FileType>
        <Name>Bash Shell Script</Name>
        <FileSpec>*.sh</FileSpec>
        <Update>
            <Search>v\d+\.\d+</Search>
            <Replace>v${Major}.${Minor}</Replace>
        </Update>
        <Update>
            <Search>v\d+-\d+</Search>
            <Replace>v${Major}-${Minor}</Replace>
        </Update>
    </FileType>
    <FileType>
        <Name>Javascript</Name>
        <FileSpec>version.js</FileSpec>
        <Update>
            <Search>(?'Before'Version",\s*")v\d+\.\d+\.\d+\.\d+(?'After'")</Search>
            <Replace>${Before}v${Major}.${Minor}.${Build}.${Revision}${After}</Replace>
        </Update>
    </FileType>
    <FileType>
        <Name>Upstart Configuration</Name>
        <FileSpec>*.conf</FileSpec>
        <Update>
            <Search>v\d+-\d+</Search>
            <Replace>v${Major}-${Minor}</Replace>
        </Update>
        <Update>
            <Search>v\d+\.\d+</Search>
            <Replace>v${Major}.${Minor}</Replace>
        </Update>
    </FileType>
    <FileType>
        <Name>iOS PList</Name>
        <FileSpec>*.plist</FileSpec>
        <Update>
            <Search>(?'Before'CFBundleVersion&lt;/key&gt;\s*\n\s*&lt;string&gt;)\d+\.\d+\.\d+\.\d+(?'After'&lt;/string&gt;)</Search>
            <Replace>${Before}${Major}.${Minor}.${Build}.${Revision}${After}</Replace>
        </Update> 
    </FileType>
    <FileType>
        <Name>C# Source</Name>
        <FileSpec>*.cs</FileSpec>
        <Update>
            <Search>(?'Before'AssemblyVersion\(")([0-9]+\.[0-9]+\.[0-9]+\.[0-9]+)(?'After'"\))</Search>
            <Replace>${Before}${Major}.${Minor}.0.0${After}</Replace>
        </Update>
        <Update>
            <Search>(?'Before'AssemblyFileVersion\(")([0-9]+\.[0-9]+\.[0-9]+\.[0-9]+)(?'After'"\))</Search>
            <Replace>${Before}${Major}.${Minor}.${Build}.${Revision}${After}</Replace>
        </Update>
    </FileType>
    <FileType>
        <Name>.NET Config Files</Name>
        <FileSpec>*.config</FileSpec>
        <Update>
            <Search>(?'Before', +Version=)\d+\.\d+(?'After'\.0\.0 *,)</Search>
            <Replace>${Before}${Major}.${Minor}${After}</Replace>
        </Update>
    </FileType>
    <FileType>
        <Name>Visual Studio Project Files</Name>
        <FileSpec>*.csproj</FileSpec>
        <Update>
            <Search>(?'Before'&lt;OutputName&gt;" + projectName + @"_)([0-9]+\.[0-9]+\.[0-9]+\.[0-9]+)(?'After'&lt;/OutputName&gt;)</Search>
            <Replace>${Before}${Major}.${Minor}.${Build}.${Revision}${After}</Replace>
        </Update>
    </FileType>
</VersionConfig>
