<h2>Convert TSON to XML</h2>
<p>Converts TSON data to XML data.</p>
<form id="tson2xml_form" novalidate ng-submit="submitForm()">
	<div class="form-group">
		<label for="tsonTextArea">Type or paste your TSON data here:</label>
		<textarea class="form-control" id="codeTextArea" rows="20" cols ng-model="tson" name="tsonTextArea" ng-change="tsonChanged()"></textarea>
	</div>
	<div>
		<input class="btn btn-primary" type="submit" value="Convert to XML" analytics-on analytics-category="Menu" />
	</div>
	<hr/>
	<div class="form-group" ng-show="result && result.data">
		<label for="convertedTextArea">Equivalent XML:</label>
		<pre><code>{{ result.data }}</code></pre>
	</div>
	<div class="alert alert-danger" ng-show="result && result.responseStatus">
		<p>The TSON is not valid</p>
	</div>
</form>
